params.outdir = '/varidata/research/projects/laird/Ava/chrons_human_data/results/' 
params.ref = '/varidata/research/projects/laird/Ava/tools/hg38_biscuit/GR*'
params.fastqs = '/varidata/research/projects/laird/Ava/chrons_human_data/raw_data/*fastq.gz'
process {
  executor = 'slurm'
  queue = 'epi'
  cpus = 4
  memory = '10 GB'
  time = '10h'
  errorStrategy = 'retry'
  maxRetries = 2
}

singularity {
  enabled = true
  cacheDir = '/varidata/research/projects/laird/Ava/.singularity_cache'
  pullTimeout = '60m'
}
